@media screen and (max-width:600px) {


    * {
  box-sizing: border-box;
}

main {
  margin: 4rem;
}

@font-face {
  font-family: 'Canela-ThinItalic';
  src: url('fonts/Canela-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/Canela-ThinItalic.otf')  format('opentype'),
       url('fonts/Canela-ThinItalic.woff') format('woff'), url('fonts/Canela-ThinItalic.ttf')  format('truetype'), url('fonts/Canela-ThinItalic.svg#Canela-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela-Thin';
  src: url('fonts/Canela-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/Canela-Thin.otf')  format('opentype'),
       url('fonts/Canela-Thin.woff') format('woff'), url('fonts/Canela-Thin.ttf')  format('truetype'), url('fonts/Canela-Thin.svg#Canela-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}



html {
  font-size: 100%;
  color: #000000;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}






    body {
        background-image: url("seal2.png");
        background-color: white;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 300px;


    }

    .text {
        font-size: 18px;
        text-align: center;

    }


    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
        height: 150px;
        position: absolute;
        float: center;
    }

    h3 {
        font-family: 'Canela-Thin';
        font-weight: normal;
        line-height: 0.3;
        font-size: 70px;
    }

    p {
        font-family: helvetica;
        font-weight: thin;
        line-height: 1;
        font-size: 14px;
    }

    .footer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: black ;
        color: black;
        text-align: center;
     }




}



/*body {
   background-image: url("seal2.png");
   background-color: #f2ebe4;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: 100px;
} */
