body {
   background-image: url("seal.png");
   background-color: #ffffff;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: 300px;
}
