
@font-face {
  font-family: 'Canela-ThinItalic';
  src: url('Canela-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('Canela-ThinItalic.otf')  format('opentype'),
	     url('Canela-ThinItalic.woff') format('woff'), url('Canela-ThinItalic.ttf')  format('truetype'), url('Canela-ThinItalic.svg#Canela-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
